@import '../../styles/variables.sass'

.column
    width: 100%

    &:not(:last-of-type)
        border-right: 1px solid $mainBlue

    &__title
        position: sticky
        top: 0
        padding: 10px 0
        background-color: $mainBlue
        text-align: center
        text-transform: uppercase
        color: $textWhite
        z-index: 100

    &__list
        display: flex
        flex-direction: column
        height: calc( 100% - 40px )

.column-list
    padding: calc( $gap / 3 )
    overflow-y: auto
    scrollbar-width: thin

    &::-webkit-scrollbar
        display: none