@import-normalize
@import "./variables.sass"

// global
*,
*::before,
*::after
    box-sizing: border-box
    margin: 0
    padding: 0

html,
body,
#root,
.app
    height: 100%

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6
    margin: 0
    padding: 0
    list-style: none

a
    text-decoration: none
    color: inherit

img
    display: block

// app
.header
    display: flex
    justify-content: space-between
    align-items: center

    &__btn,
    &__user
        width: 64px !important
        height: 64px

    &__user
        display: flex
        align-items: center
        justify-content: center
        margin-right: calc( $gap - 5px )

.header-user
    border-radius: $borderRadius
    cursor: pointer
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1)

    &:hover
        background-color: $mainGray

    &:active
        background-color: rgba(0, 0, 0, 0.15)

.header-avatar
    background-color: $mainBlue

.ant-notification-notice-message
    margin-bottom: 0 !important

.btn
    display: block
    width: 140px
    height: 40px
    margin-left: auto
    padding: 7px 15px
    font-size: $fz

// Tasks
.tasks 
    display: flex
    flex-direction: column
    height: 100%
    gap: calc( $gap / 2 )

    &__control
        display: flex
        gap: calc( $gap / 2 )

    &__search
        width: 200px

    .ant-select-selector
        width: 200px !important

// Storage
.storage
    font-size: $fz

    *
        font-size: initial

    &__top
        display: flex
        align-items: center
        gap: calc( $gap / 2 )
        margin-bottom: calc( $gap / 2 )

    .ant-input-affix-wrapper
        width: 200px

.storage-list-item
    $self: &

    display: flex
    justify-content: space-between
    border-right: 1px solid $mainBlue
    border-bottom: 1px solid $mainBlue
    border-left: 1px solid $mainBlue
    
    &:first-of-type
        border-top: 1px solid $mainBlue
        border-top-right-radius: $borderRadius
        border-top-left-radius: $borderRadius

    &:last-of-type
        border-bottom-right-radius: $borderRadius
        border-bottom-left-radius: $borderRadius
    
    &--header
        #{$self}__text
            background-color: $mainBlue
            color: $textWhite
            text-align: center
            font-weight: 700

    &__text
        padding: 5px 10px
        width: 50%

        &:not(:first-of-type)
            border-left: 1px solid $mainBlue

// Works 
.works
    font-size: $fz

    *
        font-size: initial

    &__top
        display: flex
        align-items: center
        gap: calc( $gap / 2 )
        margin-bottom: calc( $gap / 2 )

    .ant-input-affix-wrapper
        width: 200px

.works-table-row
    display: flex
    justify-content: space-between
    border-right: 1px solid $mainBlue
    border-bottom: 1px solid $mainBlue
    border-left: 1px solid $mainBlue

    &:last-of-type
        border-bottom-right-radius: $borderRadius
        border-bottom-left-radius: $borderRadius

        .table-row-cell
            &:last-of-type
                border-bottom-right-radius: $borderRadius
            
            &:first-of-type
                border-bottom-left-radius: $borderRadius

    &--header
        padding: 5px 10px
        background-color: $mainBlue
        border-top-right-radius: $borderRadius
        border-top-left-radius: $borderRadius        
            
.works-table-row-cell
    &__headding
        width: 50%
        text-align: center
        font-weight: 700
        color: $textWhite

// Clients
.clients
    font-size: $fz

    *
        font-size: initial

    &__top
        margin-bottom: calc( $gap / 2 )

    .ant-input-affix-wrapper
        width: 200px

.clients-list-item
    $self: &

    display: flex
    justify-content: space-between
    border-right: 1px solid $mainBlue
    border-bottom: 1px solid $mainBlue
    border-left: 1px solid $mainBlue
    
    &:first-of-type
        border-top: 1px solid $mainBlue
    
    &--header
        #{$self}__text
            background-color: $mainBlue
            text-align: center
            font-weight: 700
            color: $textWhite

    &__text
        padding: 5px 10px
        width: 50%

        &:not(:first-of-type)
            border-left: 1px solid $mainBlue

// Reports

.reports
    font-size: $fz

    &__title
        text-align: center
        font-size: 20px
        margin-bottom: calc( $gap / 2 )

    &__diagram
        display: flex
        flex-direction: row-reverse
        justify-content: flex-end
        align-items: center
        gap: $gap

    &__wrap
        display: flex
        flex-direction: column
        gap: calc( $gap / 2 )

    &__row
        display: flex
        gap: calc( $gap / 3 )
        
    &__color
        width: 16px
        height: 16px
        border-radius: 10%
        
        &--first
            background-color: #0bb4ff
            
        &--second
            background-color: #50e991

    &__piechart
        width: 400px
        height: 400px